/* =========================
   MOBILE-FIRST (base = mobile)
   -> Tablet : min-width: 481px
   -> Desktop: min-width: 1025px
   ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: auto !important;
  overflow-y: auto !important;
}

body {
    visibility: hidden;
    margin: auto;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    letter-spacing: 0;
    line-height: 130%;
    font-weight: 300;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    margin: 50px auto 0 auto;

}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 30px 0 20px 0;

}

.banner {
    background: #61787F;
    border: 1px solid #000000;
    width: 100%;
    min-height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    margin: 0 auto;
}

.banner img {
    height: 130px;
    object-fit: contain;
}

.banner h3{
    display: none;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0 40px;
}

.bestMovieContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 329px;
    max-height: 463px;
    margin: auto;
    border: 6px solid #000000;
}

.crop{
    margin: 7px 0 10px 10px;
    width: 298px;
    height: 241px;
    overflow: hidden;
    position: relative;
    display: block;
}

.crop img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.crop img[src]{
    opacity: 1;
}

.infos{
    display: grid;
    margin: 0;
}

.infos h2{
    display: block;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    margin: 10px;
    line-height: 100%;
    max-width: 293px;
}

.infos p {
    font-weight: 200;
    font-size: 16px;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: auto;
    line-height: 150%;
    max-width: 293px;
}

.bestMovieDetails {
    display: block;
    margin: 10px auto;
    align-content: center;
}

.bestMovieDetails a {
    position: relative;
    width: 91px;
    height: 40px;
    margin: 0;
    /*padding: 8px 28px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #FA0B0B;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    border-radius: 25px;
    vertical-align: middle;
}

.bestMoviesContent, .cat1MoviesContent, .cat2MoviesContent, .othersMoviesContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    z-index: 1;
    max-width: 100%;
}

.moviesImageBlock {
    width: 329px;
    height: 319px;
    overflow: hidden;
    justify-content: center;
    position: relative;
    display: block;
}

.moviesImageBlock:nth-child(n+3).hidden {
    display: none;
}

.moviesImageBlock div {
    width: 329px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    min-height: 52px;
    z-index: 2;
}

.moviesImageBlock div p {
    display: block;
    background: rgba(0,0,0,0.5);
    min-height: 131px;
    z-index: 3;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 130%;
}

.moviesImageBlock div a {
    position: relative;
    width: 105px;
    height: 32px;
    z-index: 4;
    border-radius: 25px;
    background: #2D2C2C;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-left: 205px;
    margin-top: -73px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 3px 0 25px 0;*/
    text-decoration: none;
}

.moviesImageBlock img {
    position: absolute;
    min-width: 329px;
    height: auto;
    width:auto;
    max-width: none;
    max-height: none;
    object-fit: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.moviesImageBlock img[src] {
    opacity: 1;
}

.seeMore, .seeLess {
    width: 214px;
    height: 36px;
    border-radius: 25px;
    background: #FA0B0B;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.seeLess {
    display: none;
}

.othersCategoryTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.othersCategoryTitle select,
.othersCategoryTitle option {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    letter-spacing: 0;
    width: 229px;
    height: 60px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    margin: 10px 0;
}

.modal {
    display: none;
    z-index: 5;
    left: 0;
    width: 412px;
    height: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
}

.modalContent {
    max-height: calc(100vh - 100px);
    overflow-y: auto !important;
    display: block;
    position: relative;
    line-height: 130%;
    background-color: #fefefe;
    border: 6px solid #000000;
    width: 412px;
    padding: 25px;
    margin: 0 auto;
}

.modalContent h1{
    text-align: left;
    margin: 0 0 10px 0;
    line-height: 110%;
    font-weight: 600;
    font-size: 48px;
}

.subtitle{
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    line-height: 120%;
}

.directed-by{
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0 10px 0;
}

.directors{
    font-weight: 300;
    font-size: 24px;
    margin: 10px 0 20px 0;
}

.description{
    margin: 30px 20px 40px 0;
    line-height: 150%;
    font-weight: 300;
    font-size: 24px;
}

.with{
    margin: 30px 0 0 0;
    font-weight: 400;
    font-size: 20px;
}

.actors{
    margin: 0 20px 20px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}

.close {
    display: block;
    position: relative;
    width: 25px;
}

.close span {
    position: absolute;
    display: block;
    margin: -15px 0 0 0;
    color: red;
    font-weight: 600;
    font-size: 75px;
}

.closeButton {
    display: none;
}


.desktopImage { display: none; }

.tablet-mobile-image {
    display: block;
    align-content: center;
    margin: auto;
    width: 370px;
    height: 544px;
}

.tablet-mobile-image img{
    width: 370px;
    height: 544px;
    padding-right: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tablet-mobile-image img[src]{
    opacity: 1;
}

/* =========================
   TABLET (min-width: 481px)
   ========================= */
@media (min-width: 481px) and (max-width: 1024px) {

    .container {
        max-width: 619px;
    }

    h1 {
        font-weight: 600;
        font-size: 40px;
        vertical-align: middle;
        color: #000000;
        margin: 40px 0;
        text-align: left;
    }

    .banner {
        justify-content: flex-start;
        padding: 0 20px;
    }

    .banner img {
        height: 113px;
    }

    .banner h3 {
        display: block;
        font-size: 32px;
        margin: 0 40px;
    }

    .bestMovieContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 619px;
        max-height: 271px;
        border: 6px solid #000000;
    }

    .crop {
        width: 168px;
        height: 246px;
        margin: 7px 0 3px 10px;
    }

    .crop img{
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .infos {
        display: grid;
        margin: 15px 0 30px 30px;
        max-width: 371px;
    }

    .infos h2{
        font-size: 40px;
        margin: 10px;
        max-width: 371px;
    }

    .infos p {
        font-weight: 200;
        font-size: 24px;
        margin: 0;
        padding: 10px;
        max-width: 371px;
        line-height: 150%;
    }

    .bestMovieDetails {
        display: block;
        margin: -10px 230px;
    }

    .bestMovieDetails a {
        position: relative;
        width: 123px;
        height: 49px;
        /*padding: 13px 33px;*/
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
    }

    .bestMoviesContent, .cat1MoviesContent, .cat2MoviesContent, .othersMoviesContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        max-width: 840px;
    }

    .moviesImageBlock {
        position: relative;
        display: block;
        width: 279px;
        height: 285px;
    }

    .moviesImageBlock:nth-child(n+3).hidden {
        display: block;
    }

    .moviesImageBlock:nth-child(n+5).hidden {
        display: none;
    }

    .moviesImageBlock div {
        width: 279px;
        height: auto;
    }

    .moviesImageBlock div p {
        min-height: 118px;
    }

    .moviesImageBlock div a {
        margin-left: 165px;
        margin-top: -70px;
        width: 95px;
        height: 29px;

    }

    .moviesImageBlock img {
        position: absolute;
        min-width: 279px;
        height:auto;
        max-width: none;
        max-height: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .othersCategoryTitle{
        display: flex;
        flex-direction: row;
    }

    .othersCategoryTitle h1{
        display: inline-block;
    }

    .othersCategoryTitle select ,
    .othersCategoryTitle option {
        position: relative;
        font-family: "Oswald", sans-serif;
        font-style: normal;
        letter-spacing: 0;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        width: 404px;
        height: 78px;
        margin: 10px 20px 0 20px;
    }

    .modal {
        left: 50%;
        transform: translateX(-50%);
        width: 412px;
        height: auto;
    }

    .modalContent {
        width: 412px;
        overflow: scroll;
    }

    .modalContent h1{
        text-align: left;
        margin: 0 0 10px 0;
    }

    .description{
        margin: 0 20px 40px 0;
    }

    .with{
        margin: 30px 0 0 0;
    }

    .desktopImage {
        display: none;
    }

    .close {
        display: block;
    }

    .closeButton {
        display: none;
    }

    .tablet-mobile-image{
        display: block;
    }

}

/* =========================
   DESKTOP (min-width: 1025px)
   ========================= */
@media (min-width: 1025px) {

    body {
        max-width: 1054px;
    }

    .container {
        max-width: 1054px;
    }

    main {
        max-width: 837px;
        margin: 0 auto 50px auto;
        align-content: center;
    }

    header {
        max-width: 837px;
        margin: 50px auto 0 auto;
        align-content: center;
    }

    h1 {
        font-weight: 600;
        font-size: 48px;
        vertical-align: middle;
        color: #000000;
        margin: 60px 0;
        text-align: left;
    }

    .banner {
        max-width: 837px;
        justify-content: flex-start;
        padding: 0 20px;
    }

    .banner img {
        height: 94px;
    }

    .banner h3 {
        display: block;
        font-weight: 300;
        font-size: 40px;
        color: #FFFFFF;
        margin: 0 40px;
    }

    .bestMovieContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 830px;
        max-height: 369px;
        border: 6px solid #000000;
    }

    .crop{
        width: 227px;
        height: 334px;
        margin: 15px 0 15px 20px;
    }

    .crop img{
        width: 227px;
        height: 334px;

        position: relative;
        transform: none;
        top: auto;
        left: auto;
    }

    .infos {
        display: grid;
        margin: 15px 0 30px 30px;
        max-width: 501px;
    }

    .infos h2{
        display: block;
        font-weight: 600;
        font-size: 48px;
        color: #000000;
        margin: 10px;
        line-height: 100%;
        max-width: 463px;
    }

    .infos p {
        font-weight: 200;
        font-size: 28px;
        vertical-align: middle;
        margin-top: 0;
        margin-left: 15px;
        line-height: 150%;
        max-width: 501px;
    }

    .bestMovieDetails {
        display: block;
        margin: 55px 300px;
        align-content: center;
    }

    .bestMovieDetails a {
        display: block;
        width: 166px;
        height: 68px;
        background: #FA0B0B;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 22px 50px;
        border-radius: 25px;
        text-decoration: none;
        cursor: pointer;
    }

    .bestMoviesContent, .cat1MoviesContent, .cat2MoviesContent, .othersMoviesContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
        z-index: 1;
        max-width: 840px;
    }

    .moviesImageBlock {
        display: flex !important;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 252px;
        height: 247px;
        z-index: 1;
        overflow: hidden;
    }

    .moviesImageBlock.hidden {
        display: block !important;
    }

    .moviesImageBlock div {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        min-height: 52px;
        z-index: 2;
        width: 252px;
        height: auto;
    }

    .moviesImageBlock img {
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: none;
    }

    .moviesImageBlock div a {
        display: flex;
        position: relative;
        width: 81px;
        height: 25px;
        z-index: 4;
        border-radius: 25px;
        background: #2D2C2C;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        margin-left: 155px;
        margin-top: -60px;
        /*padding: 3px 0 25px 0;*/
        text-decoration: none;
    }

    .moviesImageBlock div p {
        display: block;
        background: rgba(0,0,0,0.5);
        min-height: 102px;
        z-index: 3;
        padding: 15px 20px;
        font-weight: 600;
        font-size: 24px;
        vertical-align: middle;
        color: #FFFFFF;
        line-height: 130%;
    }

    .seeMore, .seeLess {
        display: none !important;
    }

    .othersCategoryTitle{
        display: flex;
        flex-direction: row;
    }

    .othersCategoryTitle h1{
        display: inline-block;
    }

    .othersCategoryTitle select, .othersCategoryTitle option {
        font-family: "Oswald", sans-serif;
        font-style: normal;
        letter-spacing: 0;
        line-height: 130%;
        display: inline-block;
        width: 404px;
        height: 78px;
        margin: 10px 20px 0 20px;
        background: #FFFFFF;
        font-weight: 600;
        font-size: 36px;
        vertical-align: middle;
    }

    .modal {
        display: none;
        z-index: 5;
        left: 0;
        width: 100%;
        height: auto;
        overflow: scroll;
        background-color: transparent;
    }

    .modalContent {
        display: block;
        position: relative;
        line-height: 130%;
        background-color: #fefefe;
        margin: 0 auto;
        border: 6px solid #000000;
        width: 778px;
        padding: 25px;
    }

    .modalContent table, tr, td{
        width: 100%;
    }

    .desktopImage {
        display: block;
        width: 227px;
        height: 334px;
    }

    .desktopImage img {
        width: 227px;
        height: 334px;
    }

    .close {
        display: none;
        position: relative;
        width: 25px;
    }

    .close span {
        position: absolute;
        display: block;
        margin: -15px 0;
        color: red;
        font-weight: 600;
        font-size: 75px;
    }

    .close a {
        text-decoration: none;
    }

    .closeButton {
        display: block;
        width: 214px;
        margin: auto;
        align-content: center;
    }

    .closeButton a{
        display: block;
        color: #FFFFFF;
        background: #FA0B0B;
        border-radius: 25px;
        width: 214px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        margin: 10px 0;
        padding-top:6px;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
    }

    .tablet-mobile-image{
        display: none;
    }
}

/* =========================
   LARGE DESKTOP (min-width: 1280px)
   ========================= */
@media (min-width: 1280px) {

    body { max-width: 1054px; }
    .container { max-width: 1054px; }
    .banner { max-width: 837px; }
    .crop img { height: 320px; }
    .desktopImage img { width: 227px; height: 334px; }
}
